@font-face {
  font-family: 'Hoover-Regular';
  src: url('fonts/Hoover_Complete/Fonts/WEB/fonts/Hoover-Regular.woff2') format('woff2'),
       url('fonts/Hoover_Complete/Fonts/WEB/fonts/Hoover-Regular.woff') format('woff'),
       url('fonts/Hoover_Complete/Fonts/WEB/fonts/Hoover-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Hoover-Bold';
  src: url('fonts/Hoover_Complete/Fonts/WEB/fonts/Hoover-Bold.woff2') format('woff2'),
       url('fonts/Hoover_Complete/Fonts/WEB/fonts/Hoover-Bold.woff') format('woff'),
       url('fonts/Hoover_Complete/Fonts/WEB/fonts/Hoover-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


body{background-color: black;
    background: linear-gradient(rgb(35, 35, 36),black);}
/* background-attachment: fixed;} */

#heading{color:lime; font-family: "Press Start 2P";}


/* #p1 {color:brown;} */

h3 {color:coral; font-family: "Hoover-Regular";}

h2 {color:cyan; font-family: "Hoover-Regular";}

p {color:white;}


#links{color:aquamarine; font-family: "Hoover-Bold";}

